# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
env/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Logs and debug
*.log

# Test cache
.cache/
